<div class="container">
  <div class="inner">
    <nav class="nav nav-masthead justify-content-center app-nav">
      <%= nav_helper 'nav_link', 'span'  %>
      <%= login_helper 'nav_link' %>
    </nav>
  </div>
</div>