<h1>About Me</h1>

<div class="row">
    <div class="col-md-6">
        <%= image_tag "goran-ivos-771531-unsplash.jpg", width: 300, alt: "computer on a desk" %>
    </div>

    <div class="col-md-6">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam non feugiat ante, eget vulputate enim. Sed quam est, mollis vel libero vel, tristique tempus odio. Ut ante magna, mattis ut libero eget, ultricies cursus massa. Sed aliquet tellus sem, et ultrices dolor cursus a. Nullam mollis molestie arcu, sodales aliquam dui viverra eget. Nunc ac sapien eget leo varius elementum. 
        </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam non feugiat ante, eget vulputate enim. Sed quam est, mollis vel libero vel, tristique tempus odio. Ut ante magna, mattis ut libero eget, ultricies cursus massa. Sed aliquet tellus sem, et ultrices dolor cursus a. Nullam mollis molestie arcu, sodales aliquam dui viverra eget. Nunc ac sapien eget leo varius elementum. 
        </p>
    </div>
</div>