<h1>Pages#contact</h1>
<p>Find me in app/views/pages/contact.html.erb</p>
=======
<h1>Let's Talk About Your Business</h1>
<hr>

<div class="row">
    <div class="col-md-6">
        <h3>Office Address</h3>
        <p>45500 Fremont Boulevard, Fremont, CA 94538</p>
        <h3>Phone</h3>
        <p><%= number_to_phone "5555555555" %></p>
        <h3>Email</h3>
        <p><a href="mailto:kurozato.candy@gmail.com?subject=PortfolioContact" "email me">Email Me</a></p>
    </div>

    <div class="col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m26!1m12!1m3!1d1615767.8469619446!2d-122.7403123733625!3d37.724452481777206!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m11!3e6!4m3!3m2!1d37.944655499999996!2d-121.2385103!4m5!1s0x808fc7003da0cdf5%3A0x9e94a74c6c0bac0d!2s45500+Fremont+Blvd%2C+Fremont%2C+CA+94538!3m2!1d37.493529099999996!2d-121.9421622!5e0!3m2!1sen!2sus!4v1533707916811" width="300" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</div>