<div>
  <main>
    <h1>Cover your page.</h1>
    <p>Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
    <p>
      <a href="<%= about_path %>" class="btn btn-lg btn-secondary">Learn more</a>
    </p>
  </main>
</div>